@page
@model ZooCode.Pages.Zoos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zoo</h1>

<p>
    <a asp-page="Create">Create New Zoo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zoo[0].Zoo_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoo[0].Zoo_address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zoo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zoo_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoo_address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZooID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ZooID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZooID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
