@page
@model ZooCode.Pages.ZooAnimals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZooAnimal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooAnimal.Zoo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooAnimal.Zoo.Zoo_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZooAnimal.Animal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZooAnimal.Animal.Animal_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ZooAnimal.ZooAnimalID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
